body {
    color: #000;
}

#start {
    display: block;
}

#middle {
    display: block;
}

#end {
    display: block;
}

.header-class {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.container {
    width:100vw;
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:left;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}
.flex-column {
    display:flex;
    flex-direction:column;
}

.choices-class {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8rem;
    width: 100%;
    background: white;
    font-size:3rem;
    min-width:80rem;
}

.start-quiz {
    /* cursor: grab; */
    min-height: 1rem;
    min-width: 20rem;
    background-color: rgb(96, 1, 112);
    color: white;
    border-radius: 10px;
    padding: 2rem;
    margin : 2rem;
}

.start-quiz:hover {
    cursor:pointer;
    box-shadow: inset;
    transform: scale(1.02);
    transform: transform 100ms;
}

.button-choices {
    /* cursor: grab; */
    min-height: 1rem;
    min-width: 20rem;
    background-color: rgb(96, 1, 112);
    color: white;
    border-radius: 10px;
    padding: 2rem;
    margin : 2rem;
}

.button-choices:hover {
    cursor:pointer;
    box-shadow: inset;
    transform: scale(1.02);
    transform: transform 100ms;
}

.question-class {
    display:flex;
    flex-direction: column;
    align-items: left;
    font-size:3rem;
}

.choices-class {
    font-size:2rem;
}

.game-choice-class {
    font-size:2rem;
}
.timer {
    font-size:2rem;
    padding-right: 40px;
}

h2 #response {
    border-bottom: solid 10px black;
}

.hide {
    display: none;
}

.show {
    display: block;
}
.high-scores {
font-size:2rem;
padding-left: 40px;
}
