*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* html, */
/* body, */
.wrapper {
    height: 100%;
    margin: 0;
    max-width: auto;
    padding-top: 5rem, 20rem, 5rem, 20rem;
}


body {
    font-family: sans-serif;
    background-color: #f9fbfd;
    color: #000;
}













/* body {
    color: #000;
} */

#start {
    display: block;
}

#middle {
    display: block;
}

#end {
    display: block;
}

.header-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: auto;

}

.container {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.choices-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8rem;
    width: 100%;
    background: white;
    font-size: 3rem;
    min-width: 80rem;
}

.hs-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.8rem;
    width: 100%;
    background: white;
    font-size: 3rem;
    min-width: 80rem;
    padding-left: 100px;
}

.align-left {
    align-items: left;
}

.start-quiz {
    /* cursor: grab; */
    min-height: 1rem;
    min-width: 20rem;
    background-color: rgb(96, 1, 112);
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
}

.end-quiz {
    min-width: 20rem;
    min-height: 1rem;
    background-color: rgb(96, 1, 112);
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
}

.start-quiz:hover {
    cursor: pointer;
    box-shadow: inset;
    transform: scale(1.02);
    transform: transform 100ms;
}

.button-choices {
    /* cursor: grab; */
    min-height: 1rem;
    min-width: 70rem;
    background-color: rgb(96, 1, 112);
    color: white;
    font-size: 3rem;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
}

.button-choices:hover {
    cursor: pointer;
    box-shadow: inset;
    transform: scale(1.02);
    transform: transform 100ms;
}

.question-class {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 3rem;
}

.choices-class {
    font-size: 2rem;
    padding-left: 5rem;
}

.game-choice-class {
    font-size: 3rem;
}

.timer {
    font-size: 3rem;
    padding-right: 10rem;
}

#response {
    border-top: solid 5px rgb(171, 162, 162);
    color: rgb(171, 162, 162);
    font-weight: 200;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.high-scores {
    font-size: 3rem;
    padding-left: 5rem;
}

.flex-row {
    display: flex;
    align-items: center;
}

textarea {
    height: 50px;
    margin-right: 30px;
    font-size: 20px;
    width: 100%;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.result {
    background-color: cornflowerblue;
    min-width: 700px;
    padding-left: 30px;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .wrapper {
        padding-top: none;
    }

    .high-scores {
        font-size: 2rem;
        padding: none;
    }
    .timer {
        font-size: 2rem;
        padding-right: 3rem;
    }

    .button-choices {
        min-width: 40rem;
        min-height: 1rem;
        font-size: 2rem;
    }
    
    .question-class {
        font-size: smaller;
    }
    .choices-class {
        padding-left: 0;
        min-width: none;
    }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    .container {
        width: 100%
    }

    .wrapper {
        padding-top: none;
    }

    .high-scores {
        font-size: 2rem;
        padding: none;
    }

    .timer {
        font-size: 2rem;
        padding-right: 3rem;
    }
    .button-choices {
        min-width: 30rem;
        min-height: 1rem;
        font-size: 2rem;
    }
    .question-class {
        font-size: smaller;
    }

    .choices-class {
        padding-left: 0;
        min-width: none;
    }
}